footer {
    bottom: 0;
    height: 100px; /* valor que necesites */
    position: absolute;
    width: 100%
  }

html {
    /*background-color: blue;*/
    min-height: 100%;
    position: relative;
  }

  #map{
      height: 500px;
      width: 500px;
  }
