footer {
    bottom: 0;
    height: 100px; /* valor que necesites */
    position: absolute;
    width: 100%
  }

html {
    /*background-color: blue;*/
    min-height: 100%;
    position: relative;
  }

  #foot1{
      height: 200px;
      width: 200px;
  }
